.root {
    -fx-font-size: 18;
}

#calculator {
    -fx-alignment: center-right;
    -fx-background-color: #5f5f5f;
}

#display {
    -fx-font-family: monospace;
    -fx-alignment: bottom-right;
    -fx-padding: 20 5 5 5;
    -fx-font-size: 40;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-pref-width: 60;
    -fx-pref-height: 50;
    -fx-background-color: lightgray;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #979797;
    -fx-border-width: 0.5;
}

.button.zero {
    -fx-pref-width: 180;
    -fx-alignment: center-left;
    -fx-padding: 0 25;
}

.button:armed {
    -fx-background-color: darkgrey;
}

